wheel
setuptools==58.2.0
pydantic=1.9
PyYAML==6.0
pyOpenssl==21.0
git+https://github.com/pannet1/omspy
git+https://github.com/pannet1/omspy-brokers
git+https://github.com/pannet1/toolkit
git+https://github.com/pannet1/kiteext
asciichartpy
aiohttp
bs4
colorama
gspread
kiteconnect
oauth2client
pandas
pendulum
prettytable
pyotp
pyarrow
python-telegram-bot
rich
textblob
tabulate
yfinance
