wheel
setuptools==58.2.0
git+https://github.com/pannet1/omspy
git+https://github.com/pannet1/omspy-brokers
git+https://github.com/pannet1/toolkit
git+https://github.com/pannet1/kiteext
kiteconnect
pandas
pyotp
selenium
webdriver_manager
bs4
rich
prettytable
yfinance
PyYAML==6.0
rich
python-telegram-bot
textblob
colorama
aiohttp
tabulate
pyarrow
gspread
oauth2client
asciichartpy
